
@mixin flex-center($flex-direction, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: $justify-content;
}


#navigation {
    position: fixed;
    background: $greyBackground;
    z-index: 101;
    @include flex-center(row, center);

    i {
        color: white;
    }

    #nav-menu {
        a {
            margin: 30px;
            text-decoration: none;
            color: $greylinks;
            border-bottom: 1px solid $greyBackground;
        }

        .nav-link:hover {
            color: $mutedOrange;
            border-bottom: 1px solid $brightOrange;
        }

        i:hover {
            color: $brightOrange;
        }
    }


}


@media (min-width: 992px){
    #navigation {
        @include flex-center(column, center);
        width: 110px;
        height: 100%;
         
        #nav-menu {
            @include flex-center(column, center);

            animation: 0.75s ease-out 0s 1 slideInFromTop;
        }
    }
}

@media (max-width: 991px ) and (min-width: 768px){
    #navigation {
        @include flex-center(row, center);
        width: 100%;
        height: 50px;
    
        #nav-menu {
            @include flex-center(row, center);
            animation: 0.5s ease-out 0s 1 slideInFromLeft;
        }
    }
}

@media (max-width: 767px){
    #navigation {
        @include flex-center(row, center);
        width: 100%;
        height: 50px;

    
        #nav-menu {
            a {
                margin: 0px 8px 0px 8px;
            }
            @include flex-center(row, flex-start);
            animation: 0.5s ease-out 0s 1 slideInFromLeft;
        }
    }
}
