

section {
    @include flex-center(column, flex-start);

    .section-content {

        width: 100%;
        @include flex-center(column, flex-start);


        form {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            margin-left: 2%;
            width: 50vw;
            min-width: 360px;
            height: 400px;

            ::placeholder {
                color: $mutedOrange;
                font-family: 'Rajdhani', sans-serif;
            }

            input, textarea {
                margin: 5px 0px 5px 5px;
                background-color: $darkCanvas;
                border-style: none; 
                font-size: medium;   
                text-indent: 7px;
                color: $mutedOrange;
                font-family: 'Rajdhani', sans-serif;
                font-size: large;
            }

            #contactInfo {
                display: flex;
                flex-direction: row;
                height: 20%;

                input {
                    width: 50%;
                    min-width: 162px;
                }
            }

            #messageInfo {
                display: flex;
                flex-direction: column;
                height: 80%;

                input {
                    height: 22%;
                    min-width: 337px;
                }

                textarea {
                    height: 80%;
                    min-width: 337px;
                    resize: none;
                }

            }

            button {
                margin-top: 5px;
                align-self: flex-end;
                height: 15%;
                width: 15%;
                min-width: 120px;
                border-color: $brightOrange;
                background-color: $darkCanvas;
                color: $brightOrange;
                font-size: large;
            }

            button:hover {
                background-color: $brightOrange;
                color: $darkCanvas;
                border-color: $brightOrange;
            }


        }


        #project-content {
            @include flex-center(column, center);

            margin-left: 65px;

            .project {
                @include flex-center(row, center);
                margin: 30px;


                img {
                    flex-shrink: 2;
                    width: 20vw;
                    height: 20vw;
                    border-radius: 5px;
                    border: 1px solid $brightOrange;

                }

                img:hover {
                    height: 18vw;
                    width: 18vw;
                }

                p {
                    flex-shrink: 1;
                    font-size: 15px;
                }


            }
        }


    
        h1 {
            color: $brightOrange;
            align-self: flex-start;
            font-size: 75px;
            padding: 0;
            margin: 0;
        }

        span  {
            animation: 0.5s ease-out 0s 1 slideInFromLeft;
            display: inline-block;
            height: 50px;
            align-self: flex-start;
            margin: 0;

            h4 {
                font-style:italic;
                font-family: cursive;
                color: $lightgrey;
            }

        }
    
        p, h1 {
            animation: fadeIn 7s; 
            margin-left: 65px;
           
        }

        p {
            font-size: 30px;
            color: $mutedOrange;
        }

        .sm-left-margin {
            margin-left: 0px;
        }

        .md-left-margin {
            margin-left: 20px;
        }

        .lg-left-margin {
            margin-left: 40px;
        }

        .xl-left-margin {
            margin-left: 60px;
        }
    
    }
}

@media (max-width: 991px ){
    section {
        margin: 100px 60px 100px 20px;         
    }

    
}

@media (min-width: 992px) {
    section {
        margin: 100px 100px 150px 200px;

        #project-content {
            p {
                flex-shrink: 1;
                font-size: 20px !important;
            }
        }

    
    }
}



