@import './animations';
@import './colorvariables';
@import './navigation';
@import './profile-image';
@import './sections';
@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
@import "./scss/brands.scss";
@import "./scss/regular.scss";


body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
}

#side-header-panel {
    display: flex;
}


#content-wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#page-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;

    hr {
        align-content: flex-start;
        border: thin solid $darkOrange;
        width: 20%;
    }
}

#background-canvas {
    color: $darkCanvas;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

}

