#profile-image {
    position: fixed;
    z-index: 1000;
    border-radius: 10px;
}

@media (min-width: 992px) {

    #profile-image  {         
        animation: 0.5s ease-out 0s 1 slideInFromLeft;     
        width: 120px;
        height: 120px;     
        margin-left: 20px;
        margin-top: 10px;
    }

}


@media (max-width: 991px ){

    #profile-image  {
        animation: 0.5s ease-out 0s 1 slideInFromTop;
        position: fixed;
        width: 70px;
        height: 70px;
        margin-left: 15px;
        margin-top: 10px;
    }


}