@media (min-width: 992px) {

    img {         
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
        position: fixed;
        width: 120px;
        height: 120px;
        z-index: 1000;
        border-radius: 10px;
        margin-left: 20px;
        margin-top: 10px;
    }

}


@media (max-width: 991px ){

    img {
        animation: 0.5s ease-out 0s 1 slideInFromTop;
        position: fixed;
        width: 70px;
        height: 70px;
        z-index: 10000;
        border-radius: 10px;
        margin-left: 15px;
        margin-top: 10px;
    }


}