

section {
    @include flex-center(column, flex-start);

    .section-content {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        // margin-bottom: 30px;
        // margin-top: 30px;

        form {
            margin-left: 65px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50vw;
            min-width: 360px;
            height: 400px;

            ::placeholder {
                color: $mutedOrange;
                font-family: 'Rajdhani', sans-serif;
            }

            input, textarea {
                margin: 5px 0px 5px 5px;
                background-color: #1D1D1D;
                border-style: none; 
                font-size: medium;   
                text-indent: 7px;
                color: $mutedOrange;
                font-family: 'Rajdhani', sans-serif;
                font-size: large;
            }

            #contactInfo {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 20%;

                input {
                    width: 50%;
                    min-width: 162px;
                }
            }

            #messageInfo {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 80%;

                input {
                    height: 22%;
                    min-width: 337px;
                }

                textarea {
                    height: 80%;
                    min-width: 337px;
                    resize: none;
                }

            }

            button {
                margin-top: 5px;
                align-self: flex-end;
                height: 15%;
                width: 15%;
                min-width: 120px;
                border-color: $brightOrange;
                background-color: #1D1D1D;
                color: $brightOrange;
                font-size: large;
            }

            button:hover {
                background-color: $brightOrange;
                color: #1D1D1D;
                border-color: $brightOrange;
            }


        }


        #project-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            margin-left: 65px;

            .project {

                margin: 10px;
                display: flex;
                flex: row;
                align-items: center;
                align-content: center;

                img {
                    width: 20vw;
                    height: 20vw;
                    border-radius: 5px;
                    border: 1px solid $brightOrange;

                }

                img:hover {
                    height: 19vw;
                    width: 19vw;
                }

                p {
                    margin-top: 5%;
                    width: 40vw;
                    height: 20vw;
                    font-size: small;
                }

            }
        }


    
        h1 {
            color: #FFA500;
            align-self: flex-start;
            font-size: 75px;
            padding: 0;
            margin: 0;
        }

        span  {
            animation: 0.5s ease-out 0s 1 slideInFromLeft;
            display: inline-block;
            height: 50px;
            align-self: flex-start;

            h4 {
                font-style:italic;
                font-family: cursive;
                color: #707070;
            }

        }
    
        p, h1 {
            animation: fadeIn 7s; 
            margin-left: 65px;
           
        }

        p {
            font-size: 30px;
            color: $mutedOrange;
        }

        .sm-left-margin {
            margin-left: 0px;
        }

        .md-left-margin {
            margin-left: 20px;
        }

        .lg-left-margin {
            margin-left: 40px;
        }

        .xl-left-margin {
            margin-left: 60px;
        }
    
    }
}

@media (max-width: 991px ){
    section {
        margin: 100px 60px 100px 20px;
        // margin: 25% 10% 10% 5%;
        
    }
}

@media (min-width: 992px) {
    section {
        margin: 100px 100px 150px 200px;
        // margin: 5% 15% 20% 10%;
    
    }
}



